<html ng-app="robotApp">

<head>
    <title>Robot Control Panel</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.9.0/rzslider.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.9.0/rzslider.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</head>

<body ng-controller="IndexController">
    <fieldset ng-disabled="!conn">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" href="/">BB2-Server</a>
        </nav>

        <div class="container theme-showcase" role="main">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ">
                        <h1 class="page-header">Controls</h1>
                        <p ng-if="!conn">Connection: TRUE</p>
                        <p ng-if="conn">Connection: FALSE</p>
                        <p>IP: {{ ip }}</p>
                    </div>
                </div>

                <div ng-if="v2" class="row">
                    <div class="col-xs-4 ">Servo Speed<br />
                        <rzslider rz-slider-model="sliderSpeed.value" rz-slider-options="sliderSpeed.options"></rzslider>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 ">

                        <div class="margin">
                            <h1 id="movement" class="page-header">Servo Positions</h1>
                            <div class=" placeholders">
                               <!--Slider Servo -->
                                <div class="sliders-servo" style="height:200px;overflow:hidden;">
                                    <div class="col-xs-4 ">s1<br />
                                        <rzslider rz-slider-model="slider1.value" rz-slider-options="slider1.options"></rzslider>
                                    </div>
                                    <div class="col-xs-4 ">s2<br />
                                        <rzslider rz-slider-model="slider2.value" rz-slider-options="slider2.options"></rzslider>
                                    </div>
                                    <div class="col-xs-4 ">s3<br />
                                        <rzslider rz-slider-model="slider3.value" rz-slider-options="slider3.options"></rzslider>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="buttons" style="margin-top: 10px;">
                                    <button ng-click="reset()">Reset to default position</button>
                                    <button ng-click="addToCalibration()">Add point to calibration</button>
                                    <button ng-click="startDancing()">Start dancing</button>
                                    <button ng-click="stopDancing()">Stop dancing</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-8 ">

                        <div class="margin">
                            <h1 class="page-header">Linear movement</h1>
                            <div class=" placeholders">
                                x:
                                <rzslider rz-slider-model="sliderx.value" rz-slider-options="sliderx.options"></rzslider>
                                y:
                                <rzslider rz-slider-model="slidery.value" rz-slider-options="slidery.options"></rzslider>
                                z:
                                <rzslider rz-slider-model="sliderz.value" rz-slider-options="sliderz.options"></rzslider>

                            </div>
                        </div>
                    </div>
                    
                </div>
    </fieldset>
    <div style="height: 50px"></div>
    <footer>
        <div style="display: flex; justify-content: space-between; padding: 10px;">
            <div>Università della Calabria - DeMaCS</div>
            <div>Made by itsmexp</div>
        </div>
    </footer>
</body>

</html>
